@media(max-width: 700px) {
    .container{
        flex-direction: column;
        margin: 60px 0;
    }

    .duvida{
        margin: 0;
    }

    .formulario{
        margin-top: 40px;
    }
}

@media(max-width: 358px) {
    .formulario{
        width: 300px;
    }

    .input, .botao{
        width: 100%;
    }
}